<div id="headerwrap">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 pad-top">
      <h1>Find the best jobs in Silicon Valley</h1>
      <p class="white tight company-name">Get notified of new jobs weekly.</p>        
    </div>
    
    <div class="col-lg-8 col-lg-offset-2 pad-top">
              <!-- Begin MailChimp Signup Form -->
              <div id="mc_embed_signup">
                <form action="http://broadwaylab.us6.list-manage.com/subscribe/post?u=42f0f0a9f2dc016ccc0270d94&amp;id=7aa4e60dad" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                  <input type="email" value="" placeholder="Your email" name="EMAIL" class="form-control" id="mce-EMAIL">
                </div>
                  <div id="mce-responses" class="clear">
                    <div class="response" id="mce-error-response" style="display:none"></div>
                    <div class="response" id="mce-success-response" style="display:none"></div>
                  </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;"><input type="text" name="b_42f0f0a9f2dc016ccc0270d94_7aa4e60dad" tabindex="-1" value=""></div>
                    <div class="clear pad-btn"><input type="submit" value="Find my dream job" name="subscribe" id="mc-embedded-subscribe" class="btn btn-submit"></div>
                </form>
              </div>

              <!--End mc_embed_signup-->

    </div>
  </div><!-- /row -->
</div>