<div id="twrap" style="background-image: url(<%= asset_path 't-back.jpg' %>);">
  <div class="container centered">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
      <i class="fa fa-comment-o"></i>
              <h2 class="white">Looking for top talent?</h2>
              <div class="pad-top">
                  <a href="mailto:hello@broadwaylab.com?Subject=Valley Hired: I want to post a job"<button class="btn btn-submit">Post a job today</button></a>
              </div>
          </div>
    </div><! --/row -->
  </div><! --/container -->
</div><! --/twrap -->